---
import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Section from '@components/Section.astro';
import H1 from '@components/H1.astro';
import H2 from '@components/H2.astro';

import CoursesGrid from '@components/CoursesGrid.astro';
import PlanningWeek from '@components/PlanningWeek.astro';
import PricesGrid from '@components/PricesGrid.astro';

import imageCours from '@assets/cours.jpg';

import { pricesOptions } from '@assets/data/prices';
import PriceCardSmall from '@components/PriceCardSmall.astro';

const pricesSingle = ['private', 'meditation', 'samedi'].map((key) => pricesOptions[key]);
//console.log(Object.entries(pricesOptions).slice(4));
---

<Layout title="Cours">
	<Container>
		<Section>
			<H1>Cours</H1>
			<div class="flex flex-col-reverse gap-8 pt-8 lg:flex-row lg:gap-16">
				<div class="max-w-2xl flex-1 text-xl">
					<p>
						Deux styles sont enseignés :
						<ul class="list-inside list-disc">
							<li>le <strong>kung fu traditionnel des dix animaux</strong></li>
							<li>le <strong>style Bu di zhen</strong></li>
						</ul>
					</p>
					<p class="pt-4 lg:pt-8">
						Pour Shifu Hrod et Simu Sabine il est avant tout question de «don de soi», surtout avec
						leurs élèves. Le don de soi passe autant par leurs connaissances que par l'énergie
						qu'ils mettent à accompagner, comprendre, adapter, rassurer et faire grandir chacun de
						leurs élèves. Shifu Hrod dit toujours: <strong
							>"c'est le kung fu qui doit s'adapter à l'individu et non l'individu au kung fu"</strong
						>.
					</p>
				</div>
				<div class="flex-1">
					<Image
						src={imageCours}
						class="h-full object-cover"
						alt="Entrée de l'école boulevard Guiton à La Rochelle"
					/>
				</div>
			</div>
		</Section>

		<Section>
			<CoursesGrid />
		</Section>

		<Section id="planning">
			<h2 class="font-bold uppercase">Planning</h2>
			<p class="font-bold">Du 10/09/2023 au 30/06/2024</p>
			<PlanningWeek />
		</Section>

		<Section id="tarifs">
			<H2>Tarifs <span class="text-2xl font-normal">à l'année</span></H2>
			<PricesGrid />
		</Section>

		<Section>
			<H2>Tarifs <span class="text-2xl font-normal">à la carte</span></H2>
			<div class="grid grid-cols-1 gap-8 py-8 md:grid-cols-3">
				{
					pricesSingle.map(({ title, price, description }) => (
						<PriceCardSmall {title} {price} {description} />
					))
				}
			</div>
		</Section>
	</Container>
</Layout>
