---
import CourseCard from '@components/CourseCard.astro';

const courses = [
	{
		title1: `Tai-Chi`,
		title2: `& Qi-Cong`,
		icon: 'taichi',
		description:
			'Art martial Chinois interne tiré du Kung Fu. Né au 14 ème siècle pendant la dynastie Ming et remanié pendant la révolution culturelle, il est également un art de santé.',
	},
	{
		title1: 'Kung Fu',
		title2: '& Shaolin Kids',
		icon: 'kungfu',
		description:
			'Le Kung Fu Wushu est né en Chine il y a plus de 4000 ans. Il est le père des Arts Martiaux. Il existe plus de 1500 styles différents, le nôtre s’appelle le Shi Dong Wu.',
	},
	{
		title1: 'Boxe chinoise',
		title2: '& Physique',
		icon: 'boxe',
		description:
			'L’art du combat Chinois est un art de pieds-poings avec des projections et balayages, pour la version compétition. En combat libre et d’école le Kung Fu s’exprime dans l’intégralité de ses techniques',
	},
];
---

<section class="flex gap-8 py-8">
	{
		courses.map(({ title1, title2, icon, description }) => (
			<CourseCard {title1} {title2} {icon} {description} />
		))
	}
</section>
