---
import Svg from '@jasikpark/astro-svg-loader';

export interface Props {
	title1: string;
	title2: string;
	description: string;
	svgUrl: string;
}

const { title1, title2, description, svgUrl } = Astro.props;
---

<a
	class="flex flex-col gap-8 border border-white bg-white fill-black p-16 text-black hover:bg-black hover:fill-white hover:text-white"
	href="/"
>
	<div class="h-52 overflow-hidden">
		<Svg src={import(`${svgUrl}?raw`)} aria-label="" class="stroke-4 h-full w-full" />
	</div>
	<div>
		<h2 class="mb-4 text-center">{title1} <br />{title2}</h2>
		<p class="text-lg">{description}</p>
	</div>
</a>
