---
import CourseCard from '@components/CourseCard.astro';

const courses = [
	{
		title: `Tai Chi`,
		icon: 'silhouette_taichi',
		description:
			'Internal Chinese martial art derived from Kung Fu. Born in the 14th century during the Ming dynasty and remodeled during the Cultural Revolution, it is also a health art.',
	},
	{
		title: 'Kung Fu',
		icon: 'silhouette_kungfu',
		description:
			'Kung Fu Wushu originated in China more than 4000 years ago. He is the father of Martial Arts. There are over 1500 different styles, ours is called Shi Dong Wu.',
	},
	{
		title: 'Sanda',
		icon: 'silhouette_sanda',
		description:
			'The art of Chinese combat is an art of foot-fists with throws and sweeps, for the competition version. In free and school combat, Kung Fu is expressed in all of its techniques',
	},
];
---

<section class="bg-gradient-to-r from-black">
	<div class="container flex flex-col gap-4 py-4 md:flex-row lg:gap-8 lg:py-8">
		{courses.map(({ title, icon, description }) => <CourseCard {title} {icon} {description} />)}
	</div>
</section>
