---
import SocialLinks from '@components/links/SocialLinks.astro';
import SchoolInfos from '@components/SchoolInfos.astro';
import SiteMap from '@components/SiteMap.astro';
import Container from '@components/Container.astro';
---

<footer class="border-t border-gray-500 bg-gradient-to-t from-[#ffe6006f] to-80% py-12">
	<Container>
		<div class="grid grid-cols-2 gap-8 lg:grid-cols-4">
			<SocialLinks />
			<SchoolInfos />
			<SiteMap />
		</div>
	</Container>
</footer>
