---
import Nav from '@components/Nav.astro';
import LogoLink from '@components/links/LogoLink.astro';
---

<header>
	<div class="container flex items-center justify-between py-8">
		<LogoLink />
		<Nav />
	</div>
</header>
