---
import { getCollection } from 'astro:content';

import Container from '@components/Container.astro';
import NewsCard from '@components/NewsCard.astro';
import CTALink from '@components/links/CTALink.astro';

const news = await getCollection('news');
---

<section class="py-16">
	<Container>
		<h2 class="uppercase">Actualités</h2>
		<div class="my-16 flex justify-between gap-8 pb-16">
			{news.map(({ data, slug }) => <NewsCard {data} {slug} />)}
		</div>
		<CTALink
			href="/ecole/actualites"
			label="Voir toutes les actualités"
			icon="carbon:arrow-right"
			outline
		/>
	</Container>
</section>
