---
import PlanningCourse from './PlanningCourse.astro';

const { day } = Astro.props;
const [dayString, dayData] = day;
---

<div class="flex items-center">
	<p class="w-[180px] text-2xl uppercase">{dayString}</p>
	<div class="grid-cols-22 grid flex-1 border border-stone-600">
		{dayData.map((course: any, index: number) => <PlanningCourse {course} first={index === 0} />)}
	</div>
</div>
