---
import { pricesOptions, pricesCards } from '@assets/data/prices';
import PriceCard from '@components/PriceCard.astro';
---

<div class="flex items-end gap-8 py-8">
	{pricesCards.map((card, index) => <PriceCard {card} {index} />)}
</div>
