<div
	class="prose dark:prose-invert
    prose:text-white
  prose-h1:font-bold prose-h1:text-xl
  prose-p:text-white prose-strong:text-white
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
>
	<slot />
</div>
