---
import { getEntry } from 'astro:content';
import Container from '@components/Container.astro';

const { data } = await getEntry('school', 'dragontigre');
---

<section class="border-b border-t border-white py-16">
	<Container>
		<h2 class="uppercase">L'École en quelques chiffres</h2>
		<div
			class="my-8 grid grid-cols-2 items-start gap-8 lg:my-16 lg:grid-cols-4 lg:justify-evenly lg:gap-16"
		>
			<div class="lg:text-center">
				<h3 class="mb-4">Depuis</h3><span class="text-4xl font-bold lg:text-6xl"
					>{data.infos.date.getFullYear()}</span
				>
			</div>
			<div class="lg:text-center">
				<h3 class="mb-4">Élèves</h3><span class="whitespace-nowrap text-4xl font-bold lg:text-6xl"
					>{data.infos.studentsPerYear} / an</span
				>
			</div>
			<div class="lg:text-center">
				<h3 class="mb-4">Médailles</h3><span class="text-4xl font-bold lg:text-6xl"
					>{data.infos.medals}</span
				>
			</div>
			<div class="lg:text-center">
				<h3 class="mb-4">Salle</h3><span class="whitespace-nowrap text-4xl font-bold lg:text-6xl"
					>{data.infos.surface} m<sup>2</sup></span
				>
			</div>
		</div>
	</Container>
</section>
