---

---

<section class="grid grid-cols-2">

    <div>
        <span>ÉCOLE</span>
        <ul>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
        </ul>
    </div>

    <div>
        <span>COURS</span>
        <ul>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
        </ul>
    </div>
</section>