---
import { getCollection } from 'astro:content';

import Container from '@components/Container.astro';
import TestimonialCard from '@components/TestimonialCard.astro';
import Section from '@components/Section.astro';

const students = await getCollection('student');
---

<Section>
	<Container>
		<h2 class="uppercase">Témoignages</h2>
		<div class="flex flex-col items-start gap-16 py-8 lg:flex-row lg:py-16">
			{
				students.map(({ data }) => (
					<TestimonialCard
						image={data.avatar}
						name={data.first}
						year={data.yearOfPractice}
						text={data.testimonial}
					/>
				))
			}
		</div>
	</Container>
</Section>
