---
export interface Props {
	label?: string;
	href?: string;
}

const { label, href } = Astro.props;
---

<a
	class="rounded-full border border-white bg-white px-6 py-2 text-lg text-black transition-all hover:bg-black hover:text-white"
	href={href}
	aria-label={`${label} page`}
	title={`${label} page`}
>
	{label}
</a>
