---
export interface Props {
  label?: string;
  href?: string;
}

const { label, href } = Astro.props;
---

<a
  class='bg-white text-black rounded-full py-2 px-6 text-lg hover:bg-black hover:text-white border-white border transition-all'
  href={href}
  aria-label={`${label} page`}
  title={`${label} page`}
>
  {label}
</a>
