---
import { Icon } from 'astro-icon';

const baseURL = import.meta.env.BASE_URL;
---

<a
	href={baseURL}
	aria-label="Home page"
	title="Home page"
	class="rounded-full bg-white text-black hover:bg-black hover:text-white"
>
	<Icon name="logo" class="h-10 w-10 lg:h-14 lg:w-14" aria-hidden="true" />
	<span class="sr-only">Home</span>
</a>
