---
import { Icon } from 'astro-icon';

const baseURL = import.meta.env.BASE_URL;
---

<a
	href={baseURL}
	aria-label="Home page"
	title="Home page"
	class="rounded-full bg-gold p-1 hover:bg-white"
>
	<Icon name="logo" class="h-10 w-10 lg:h-16 lg:w-16" />
</a>
