---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
	label: string;
}

const { href, label, ...props } = Astro.props;

// Active Link
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={['border-white text-lg hover:border-b lg:text-xl', { 'border-b': isActive }]}
	{...props}
	aria-label={`Ouvrir la page ${label}`}
	title={`Ouvrir la page ${label}`}
>
	{label}
</a>
