---
import IconLink from '@components/links/IconLink.astro';

const socials: { label: string; href: string; icon: string }[] = [
	{ label: 'Facebook', href: `https://www.facebook.com/edtkft/`, icon: 'fa:facebook-f' },
	{
		label: 'Youtube',
		href: `https://www.youtube.com/@icmaecoledragontigre6443`,
		icon: 'fe:youtube',
	},
	{ label: 'Email', href: `mailto:icmaedt@gmail.com`, icon: 'ic:baseline-email' },
];
---

<div class="flex gap-2">
	{socials.map(({ label, href, icon }) => <IconLink {label} {href} {icon} />)}
</div>
