@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-title tracking-wider;
	}

	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	h5 {
		@apply text-xl;
	}
	h6 {
		@apply text-lg;
	}
}

.col-start-1 {
	grid-column-start: 1;
}
.col-start-2 {
	grid-column-start: 2;
}
.col-start-3 {
	grid-column-start: 3;
}
.col-start-4 {
	grid-column-start: 4;
}
.col-start-5 {
	grid-column-start: 5;
}
.col-start-6 {
	grid-column-start: 6;
}
.col-start-7 {
	grid-column-start: 7;
}
.col-start-8 {
	grid-column-start: 8;
}
.col-start-9 {
	grid-column-start: 9;
}
.col-start-10 {
	grid-column-start: 10;
}
.col-start-11 {
	grid-column-start: 11;
}
.col-start-12 {
	grid-column-start: 12;
}

.col-start-13 {
	grid-column-start: 13;
}
.col-start-14 {
	grid-column-start: 14;
}
.col-start-15 {
	grid-column-start: 15;
}
.col-start-16 {
	grid-column-start: 16;
}
.col-start-17 {
	grid-column-start: 17;
}
.col-start-18 {
	grid-column-start: 18;
}
.col-start-19 {
	grid-column-start: 19;
}
.col-start-20 {
	grid-column-start: 20;
}
.col-start-21 {
	grid-column-start: 21;
}
.col-start-22 {
	grid-column-start: 22;
}
.col-start-23 {
	grid-column-start: 23;
}
.col-start-24 {
	grid-column-start: 24;
}
.col-start-25 {
	grid-column-start: 25;
}

.col-end-1 {
	grid-column-end: 1;
}
.col-end-2 {
	grid-column-end: 2;
}
.col-end-3 {
	grid-column-end: 3;
}
.col-end-4 {
	grid-column-end: 4;
}
.col-end-5 {
	grid-column-end: 5;
}
.col-end-6 {
	grid-column-end: 6;
}
.col-end-7 {
	grid-column-end: 7;
}
.col-end-8 {
	grid-column-end: 8;
}
.col-end-9 {
	grid-column-end: 9;
}
.col-end-10 {
	grid-column-end: 10;
}
.col-end-11 {
	grid-column-end: 11;
}
.col-end-12 {
	grid-column-end: 12;
}

.col-end-13 {
	grid-column-end: 13;
}
.col-end-14 {
	grid-column-end: 14;
}
.col-end-15 {
	grid-column-end: 15;
}
.col-end-16 {
	grid-column-end: 16;
}
.col-end-17 {
	grid-column-end: 17;
}
.col-end-18 {
	grid-column-end: 18;
}
.col-end-19 {
	grid-column-end: 19;
}
.col-end-20 {
	grid-column-end: 20;
}
.col-end-21 {
	grid-column-end: 21;
}
.col-end-22 {
	grid-column-end: 22;
}
.col-end-23 {
	grid-column-end: 23;
}
.col-end-24 {
	grid-column-end: 24;
}
.col-end-25 {
	grid-column-end: 25;
}
