---
import { Icon } from 'astro-icon/components';

const { href, label, icon } = Astro.props;
---

<a
	href={href}
	aria-label={label}
	title={label}
	class="rounded-full border-2 border-white bg-white p-2 text-black hover:bg-black hover:text-white"
	rel="nofollow, noopener, noreferrer"
	target="_blank"
>
	<Icon name={icon} class="h-6 w-6 md:h-8 md:w-8" />
</a>
