---
import { getEntry } from 'astro:content';

import IconLink from '@components/links/IconLink.astro';

const { data } = await getEntry('school', 'kungfuschool');
---

<div class="order-1">
	<span class="mb-2 block font-bold uppercase">Follow us</span>
	<div class="flex items-start gap-2">
		{data.socials.map(({ label, href, icon }) => <IconLink {label} {href} {icon} />)}
	</div>
</div>
