---
import Header from '@components/Header.astro';
import Main from '@components/Main.astro';
import Footer from '@components/Footer.astro';

import '@styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/fonts/shanghai.woff2" as="font" type="font/woff2" crossorigin />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accueil</title>
	</head>
	<body class="grid min-h-screen grid-rows-[auto_1fr_auto] bg-black text-white">
		<Header />
		<Main>
			<slot />
		</Main>
		<Footer />
	</body>
</html>
