---
import { getCollection } from 'astro:content';

import CourseCard2 from '@components/courses/CourseCard2.astro';

const courses = (await getCollection('course')).sort((a, b) => a.data.order - b.data.order);
---

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
	{courses.map((course) => <CourseCard2 {course} />)}
</div>
