---
import PlanningDay from '@components/planning/PlanningDay.astro';

import planningData from '@assets/data/planning.json';
---

<div class="flex flex-col gap-4 py-8">
	{Object.entries(planningData).map((day) => <PlanningDay {day} />)}
</div>
