---
import { Icon } from 'astro-icon/components';
---

<div class="mt-16 border-t border-gray-700 pt-16 text-center text-sm text-gray-400">
	<p>
		Made with <Icon name="HeroiconsSolidHeart" class="inline h-6 animate-pulse text-red-500" /> by
		<a href="https://dev.jeromeabel.net" class="underline hover:text-white"
			>J&eacute;r&ocirc;me Abel</a
		>
		- <a href="https://github.com/jeromeabel/kungfuschool" class="underline hover:text-white"
			>Source Code</a
		>
	</p>

	<p>Images credits: AI generated, iconsjs.org, iwuf.org, freepik.com</p>
</div>
