<div
	class="prose:text-white prose
    dark:prose-invert
  prose-headings:underline prose-h1:text-xl
  prose-h1:font-bold
  prose-p:text-white prose-a:text-blue-600 prose-strong:text-white
  prose-img:rounded-xl"
>
	<slot />
</div>
