---
import BasicLink from '@components/links/BasicLink.astro';

const schoolLinks = [
	{ label: 'Informations', href: `/school#infos` },
	{ label: 'Blog', href: `/blog` },
	{ label: 'About', href: `/school#about` },
];

const courseLinks = [
	{ label: 'Planning', href: `/courses#planning` },
	{ label: 'Prices', href: `/courses#prices` },
	{ label: 'Teachers', href: `/teachers` },
	{ label: 'Kung Fu', href: `/courses/kungfu` },
	{ label: 'Kids', href: `/courses/kids` },
	{ label: 'Tai Chi', href: `/courses/taichi` },
	{ label: 'Qi Gong', href: `/courses/qigong` },
	{ label: 'Meditation', href: `/courses/meditation` },
	{ label: 'Sanda', href: `/courses/sanda` },
];
---

<div class="order-2 lg:order-3">
	<span class="font-bold uppercase">School</span>
	<ul>
		{
			schoolLinks.map(({ href, label }) => (
				<li>
					<BasicLink {href} {label} />
				</li>
			))
		}
	</ul>
</div>

<div class="order-4">
	<span class="font-bold uppercase">Courses</span>
	<ul>
		{
			courseLinks.map(({ href, label }) => (
				<li>
					<BasicLink {href} {label} />
				</li>
			))
		}
	</ul>
</div>
