---
import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Section from '@components/Section.astro';
import H1 from '@components/H1.astro';
import H2 from '@components/H2.astro';

import CoursesGrid from '@components/CoursesGrid.astro';
import PlanningWeek from '@components/PlanningWeek.astro';
import PricesGrid from '@components/PricesGrid.astro';

import imageCours from '@assets/courses.jpg';

import { pricesOptions } from '@assets/data/prices';
import PriceCardSmall from '@components/PriceCardSmall.astro';
import Prose from '@components/Prose.astro';

const pricesSingle = ['private', 'meditation', 'samedi'].map((key) => pricesOptions[key]);
//console.log(Object.entries(pricesOptions).slice(4));
---

<Layout title="Courses">
	<Container>
		<Section>
			<H1>Courses</H1>
			<div class="flex flex-col-reverse gap-8 pt-8 lg:flex-row lg:gap-16">
				<Prose>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nihil nostrum ut aperiam
						fuga eligendi, ea adipisci sit provident? Quaerat natus doloribus repudiandae temporibus
						omnis, fugiat libero suscipit illo vero.
					</p>
				</Prose>

				<div class="flex-1">
					<Image
						src={imageCours}
						class="h-full object-cover"
						alt="Entrée de l'école boulevard Guiton à La Rochelle"
					/>
				</div>
			</div>
		</Section>

		<Section>
			<CoursesGrid />
		</Section>

		<Section id="planning">
			<h2 class="font-bold uppercase">Planning</h2>
			<p class="font-bold">From 2023-09-10 to 2024-06-30</p>
			<PlanningWeek />
		</Section>

		<Section id="tarifs">
			<H2>Prices <span class="text-2xl font-normal">yearly</span></H2>
			<PricesGrid />
		</Section>

		<Section>
			<H2>Prices <span class="text-2xl font-normal">single</span></H2>
			<div class="grid grid-cols-1 gap-8 py-8 md:grid-cols-3">
				{
					pricesSingle.map(({ title, price, description }) => (
						<PriceCardSmall {title} {price} {description} />
					))
				}
			</div>
		</Section>
	</Container>
</Layout>
